langchain==0.3.27
langchain-openai==0.3.30
langchain-chroma==0.2.5
langchain-community==0.3.27
gradio==5.42.0
tqdm==4.67.1
jq==1.10.0
pi_heif==1.1.1
pdf2image==1.17.0
pdfminer==20191125
pdfminer.six==20221105
pymupdf==1.26.5
playwright==1.55.0
unstructured-inference==1.0.5
unstructured[all-docs]==0.18.13